# Firebase cache & debug logs
.firebase/
firebase-debug.log*
firestore-debug.log*

# Node dependencies
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Secrets & Private Keys (Admin SDK)
*serviceAccount*.json
*private_key*.json
*credential*.json
*.env*
.env.local

